<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Data</title>
</head>
<body>
    <style>
        body {
            background-color: #232323;
        }
        .data {
    background-color: #232323;
    color: ghostwhite;
}
.chart {
    background-color: antiquewhite;
    
}
    </style>
    <div class="data">
   <center> <table border="1">
        <thead>
            <tr>
                <th>State</th>
                <th>Active</th>
                <th>Confirmed</th>
                <th>Deaths</th>
                <th>Recovered</th>
            </tr>
        </thead>
        <tbody>
            {% for state in response.statewise%}
            <tr>
            <td>{{state.state}}</td>
            <td>{{state.active}}</td>
            <td>{{state.confirmed}}</td>
            <td>{{state.deaths}}</td>
            <td>{{state.recovered}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </div>

    </table></center>
    <div class="chart">
        <canvas id="myChart"></canvas>
      </div>
  <!--Chartjs-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
    const labels = {{labels|safe}};
const data = {
  labels: labels,
  datasets: [{
    label: 'Covid 19 confirmed cases',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: {{chartdata | safe}},
  }]
};

const config = {
  type: 'bar',
  data,
  options: {}
};



        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

    </script>

</body>
</html>